

<div class="col-md-6">
    <div class="card m-2">
        <div class="card-header">
        {{'information'|translate}}
        </div>
        <div class="card-body">
            <div class="">
                <img src="../../assets/avatar/user.png" class="rounded" alt="...">
            </div>
            <div>
                <h5>{{'name'|translate}} : Hano Media</h5>
            </div>
            <div>
                <h5>{{'email'|translate}} : info@hanomedia.com</h5>
                
            </div>
            <div>
               <h5>{{'mobile'|translate}} : +1 ...</h5>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-danger">{{'subscribe'|translate}}</button>
        </div>
    </div>
   

</div>
