<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HanoMedia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{{'home'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{'about'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{'share'|translate}}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    
                    <select class="form-select" (change)="ChangeLang($event)" name="" id="">
                        <option [selected]="lang==='en'" value="en">English</option>
                        <option [selected]="lang==='fr'" value="fr">French</option>
                        <option [selected]="lang==='es'" value="es">Spanish</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>